*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px dotted red; */
}

.homepage {
    display: grid;
    grid-template-columns: 2rem 0.8fr 2.8fr 2rem;
    height: 100%;
    width: 100vw;
}

.navbar-side {
    grid-column: 2/3;
    height: 100%;
    width: 100%;
}

.categories {
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 0px 10px;
}

.categories-list {
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    color: white;
}

.category-data {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.category-conatiner {
    border: 1px solid whitesmoke;
    margin: 0px 7px 7px 0px;
    border-radius: 8px;
    height: 15rem;
    width: 14rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.category-conatiner a {
    text-decoration: none;
}

.category-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.img-box{
    display: flex;
    justify-content: center;
    height: 10rem;
}
.img-box img{
    width: 100%;
    height: 100%;
    align-items: center;
    object-fit: contain;
    padding: 5px 5px;
    border-radius: 10px;
}
.category-name{
    display: flex;
    justify-content: center;
}
.category-name-text{
    font-size:20px;
    font-weight: 500;
    color: white;
}

/* Responsive for mobie */

@media screen and (max-width: 767px) {
    .homepage{
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 3fr;
    }
    .category-data{
        margin: 5px 0 ;
    }
    .categories-list{
        display: flex;
        justify-content: center;
        margin: 5px 0px;
    }
}